* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Google Sans;
  font-weight: normal;
  color: #e1e6e9;
}

body {
  background-color: #D4E6EE;
}

.login-heading {
  font-size: 2em;
  font-weight: 500;
}

.login-subheading {
  font-size: 0.85em;
  margin-top: 1em;
  margin-bottom: 3em;
  color: #9c9b9a;
}

.login-wrapper {
  margin-left: 2em;
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #0c3350;

  border-radius: 10px;
  width: 500px;
  height: 90%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.login-wrapper :not(.login-subheading, .login-heading) {
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form input[type="submit"] {
  outline: none;
  background-color: #45b9ff;
  width: 80%;
  height: 3em;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.25em;
}

.login-form input[type="submit"]:hover {
  background-color: #0075be;
}

.dialog {
  width: 80%;
  height: 90%;
  margin: 0;
  border-radius: 10px;
  background-color: #042439;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 20px 0 rgba(31, 38, 135, 0.37);
}

.close-button {
  position: absolute;
  top: 3em;
  right: 3em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.close-button span {
  display: block;
}

.icofont-arrow-left {
  margin-top: 1em;
  font-size: 1.5em;
  color: white;
}

.login-footer {
  position: absolute;
  bottom: 2em;
  left: 2.5em;
}

.form-control {
  color: white;
  padding: 1em;
  width: 100%;

  margin-top: 0.75em;
  margin-bottom: 0.75em;
  outline: none;
  border-radius: 10px;
  background: transparent;
  border: 2px solid #234661;
}

.form-control::placeholder {
  font-weight: 500;
  color: #b0bcc4;
}

.form-control:hover,
.form-control:focus {
  border: 2px solid #2874a4;
  background-color: #183d58;
}

.form-control:hover::placeholder,
.form-control:focus::placeholder {
  color: #ffffff;
}

.checkbox-control {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  margin-bottom: 1.75em;
}

.checkbox-control label {
  font-size: 0.85em;
  margin-left: 0.5em;
}

.checkbox-control input[type="checkbox"] {
  /* margin-left: 0.5em; */
  border: none;
  width: 2em;
}

.login-footer a {
  text-decoration: none;
  color: #45b9ff;
  margin-left: 0.5em;
}

.validate-noti {
  background-color: rgba(231, 23, 76, 0.6);
  padding: 0.5em;
  border-radius: 5px;
  font-size: 0.85em;
}

.hidden {
  display: none;
}

.background {
  position: absolute;
  width: 600px;
  height: 600px;
  top: 50%;
  right: 25%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.open-button {
  outline: none;
  border: none;
  width: 150px;
  height: 50px;
  background-color: rgba(31, 38, 135);
  border-radius: 10px;
  font-weight: 500;
}