@font-face {
  src: url(./fonts/KonstantGrotesk.otf);
  font-family: KonstantGrotesk;
}

@font-face {
  src: url(./fonts/Hanson-Bold.otf);
  font-family: Hanson-Bold;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: black;
  /*#0000ef #015511 #F5E0D8*/
}

body {
  background-image: url(./images/Background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: KonstantGrotesk;
}

.countdown-container {
  padding: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* box-shadow: 0 2px 15px 0 rgb(0 0 0 / 6%);
  background-color: white; */
  /* border-radius: 10em; */

  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 20px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 4em;
  border: 2px solid rgba(255, 255, 255, 0.18);
}

h1 {
  padding-bottom: 0.3em;
  font-family: Hanson-Bold;
  font-size: 7em;
  font-weight: 5000;
}

h2 {
  font-size: 1.8em;
  color: #dd5543;
  /* #EA8773 */
}

.clock-container {
  padding-top: 4em;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
}

.clock-item {
  margin: 0 0.5em;
  font-family: KonstantGrotesk;
  font-size: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* color: #A61D1A; */
}

.clock-item span {
  font-size: 0.4em;
}
